* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	transform:translateY(50%);
}


ul {
	list-style: none;
	text-align: center;
	margin-top:15px;
}

h1 {
	text-align: center;
}


div input {
	display: block;
	border-radius: 5px;
	padding:3px;
	border: none;

}
#username-input, #password-input, #confirm-password-input {
	margin:8px auto;
	text-align: center;
	opacity:0.6;
	width: 15%;
}

ul li:first-child {
	margin-right:2px;
	
}

ul li:last-child {
	margin-left:2px;
}

ul li {
	display: inline-block;
	padding: 6px 25px;
	background-color: #ed2939;
	border-radius: 5px;
}

ul li:hover {
	cursor:pointer;
	background-color: #be2239;
}

ul li a{
	color: white;
}

ul li a:hover {
	color: white;
	text-decoration: none;
}




