* {
	margin: 0;
	padding: 0;
	font-family: 'Nunito', sans-serif;
}

.hr-main {
	border-bottom: 5px solid rgb(163,46,46);
	width: 70%;
	margin: 0 auto;
	margin-top: 2%;
}

.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: auto;
}

.authentication-body {
  margin: auto;
  margin-top: 5%;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.authentication-body-description {
  margin-top: 0.4%;
  margin-bottom: 1.5%;
}

.authentication-description {
  color: white;
  font-size: 17px;
  max-width: 26%;
  margin-left: 37%;
}

.authentication-logo {
  width: 20%;
  height: auto;
}

div .authentication-inputs {
	display: block;
	border-radius: 5px;
	padding:3px;
	border: none;
  font-size: 110%;
}

#username-input, #password-input, #confirm-password-input {
	margin: 8px auto;
	text-align: center;
	opacity: 0.6;
	width: 25%;
  padding: 10px;
  outline: 0;
}

.authentication-ul {
  margin-top: 2%;
  list-style: none;
}

.authentication-ul li:first-child {
	margin-right:2px;
}

.authentication-ul li:last-child {
	margin-left:2px;
}

.authentication-ul li {
	display: inline-block;
  background-color: rgba(163,46,46,0.6);
	border-radius: 5px;
  padding: 0.6% 3%;
}

ul li .authentication-buttons {
  color: white;
}

.authentication-ul li:hover {
	cursor: pointer;
	background-color: rgb(163,46,46);
  text-decoration: none;
  color:white;
}

ul li .authentication-buttons:hover{
	color: white;
  cursor: pointer;
	background-color: rgb(163,46,46);
  text-decoration: none;
}

.navbar-header, .navbar-collapse {
	display:inline-block;
}

.navbar-brand-img {
	width: 120px;
	margin-top:-5px;
}

#logout {
	background-color: rgba(163,46,46,0.6);
	padding: 6px 12px;
	border-radius: 5px;
	margin-top:15%;
	color: white;
}

.main-title {
  font-family: 'Nunito', sans-serif;
  text-align: center;
	margin-top: 4%;
	font-weight: 100;
	color: #333; font-size: 48px; font-family: 'Nunito', sans-serif;
	padding-bottom: 10px;
}

.main-submit-text {
  font-family: 'Nunito', sans-serif;
  font-size: 25px;
}

.submit-meme {
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
}

.main-inputs {
  margin-top: 0.6%;
  border: 1px solid lightgrey;
  outline: 0;
}

#use-url {
	color: white;
	outline: 0;
	border: 1px solid #333;
	background-color: #333;
	border-radius: 5px;
	padding: 6px 12px;
}

#use-template {
	color: black;
	padding: 6px 12px;
	outline: 0;
	border: 1px solid #333;
	background-color: transparent;
	border-radius: 5px;
}

.main-select {
	margin-top: 0.47%;
	display: block;
  height: 35.1px;
  outline: 0;
  background-color: #333;
  color: white;
  margin-bottom: 0.1%;
	border-radius: 5px;
}

.meme-submit {
  border: 1px solid rgb(163,46,46);
  background-color: rgb(163,46,46);
  color: white;
  margin-top: 2%;
}

.meme-preview {
  border: 1px solid rgb(163,46,46);
  background-color: transparent;
  color: rgb(163,46,46);
  margin-top: 2%;
}

.preview-meme {
  height: 100px;
}

.choice {
	padding: 5px 10px;
	border-radius:5px;
	background-color: transparent;
	border: 1px solid black;
	color:#333;
}

.meme-generator {
	text-align: center;
}

.main-meme-image {
	max-width: 100%;
	border-radius: 5px;
	height: auto;
}

.meme-username {
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 20px;
	text-align: center;
}

.meme-username-link {
	text-decoration: none;
	color: #333;
}

.meme-username-link:hover {
	color: rgba(163,46,46,0.6);
	text-decoration: none;
}

.profile-button-victories {
	background-color: rgb(163,46,46);
	color: white;
	float: left;
}

.profile-button-defeats {
	background-color: #333;
	color: white;
	float: left;
}

.profile-list {

}
.col-md-4 {
	padding:0;
}

.profile-meme {
	text-align: center;
	display: inline-block;
	margin-top: 1%;
	margin-bottom: 1%;
	padding: 0;
}

.profile-meme-all {
	width: 80%;
}

.profile-meme-image {
	width: 80%;
}

.profile-list-text-victory {
	color: rgb(163,46,46);
}

.profile-list-text-defeats {
	color: #333;
}

.profile-list-inner {
	height: 50px;
}

.profile-main {
  margin-left: 5%;
  margin-top: 3%;
}

.profile-title {
  font-size: 30px;
  font-family: 'Nunito', sans-serif;
}

.profile-image {
  max-width: 70%;
  max-height: 70%;
}

.battles-body {
	margin-top: 5%;
	margin-left: 5%;
}

.battle-submit-div {
	display: block;
}

#battle-user {
	width: 30%;
}

#submit-battle-button {
	margin-top: 0.5%;
	background-color: rgb(163,46,46);
	color: white;
	font-size:
}

.battles-ongoing {
	margin-top: 3%;
}

.battles-ongoing-text {
	font-size: 20px;
	color: rgb(163,46,46);
	font-weight: 500;
	margin-bottom: -0.6%;
	font-family: 'Nunito', sans-serif;
}

.battles-hr {
	border-bottom: 5px solid rgb(163,46,46);
	width: 20%;
}

.battle-preview-text {
	color: #595959;
	text-decoration: none;
}

.battle-preview-text:hover {
	color: rgb(163,46,46);
	text-decoration: none;
}

.glyphicon-arrow-up {
	padding:10px;
	border-radius:5px;
	background-color:rgb(163,46,46);
	color:white;
  margin-right: 1%;
}

.glyphicon-arrow-down {
	padding:10px;
	border-radius:5px;
	background-color:#333;
	color:white;
  margin-right: 1%;
}

.profile-list-text-defeats, .profile-list-text-victory {
  font-size: 18px;
}

table td {
	padding: 4px 0;
}

.profile-waiting-title {
	color: rgb(163,46,46);
	font-size: 23px;
}
.profile-waiting-hr {
	border-bottom: 5px solid rgb(163,46,46);
	width: 80%;
	margin-top:0;
}

.profile-ongoing-title {
	color: #333;
	font-size: 23px;
}
.profile-ongoing-hr {
	border-bottom: 5px solid #333;
	width: 55%;
	margin-top:0;
}

.profile-battle-info {
	margin-left: 4%;
	margin-top: 4%;
}

.acceptBattle {
	padding: 5px 11px;
	background-color: rgb(163,46,46);
	color: white;
	border-radius: 5px;
	border: 1px solid rgb(163,46,46);
	margin-right: 5px;
}
.rejectBattle {
	padding: 5px 11px;
	background-color: #333;
	color: white;
	border-radius: 5px;
	border: 1px solid #333;
}

.profile-challenge {
	display: inline;
}
.profile-memes {
	margin-top:5%;
}

.leader-table {
	margin:2% auto;
}

.leaderboard-username {
	font-size: 20px;
	padding:10px 30px;

}

.leaderboard-victories {
	font-size:20px;
}
.leaderboard-quote {
	font-size: 30px;
	font-weight: 500;
	margin-top: 5%;
	text-align: center;
}

.leaderboard-hr {
	margin-left:42.5%;
	border-bottom: 5px solid rgb(163,46,46);
	width:15%;
}

.leaderboard-ranking {
	font-size: 20px;
	padding-right:20px;
	padding-left:20px;
	padding-right:20px;
	border-right: 2px solid rgb(163,46,46);
}

.leaderboard-ranking-top {
	font-size: 20px;
	padding-left:20px;
	padding-right:20px;
	background-color:rgb(163,46,46);
	border-right: 2px solid rgb(163,46,46);
	color: white;
}

.leaderboard-ranking-winner {
	font-size: 20px;
	padding-left:20px;
	padding-right:20px;
	background-color:#333;
	border-right: 2px solid #333;
	color: white;
}

.battle-opponents {
	margin-left:20%;
	width: 60%;
	text-align:center;
	color: #333;
	font-size:25px;
	font-weight: bold;
}

.battle-duration {
  font-size: 16px;
	margin-left:20%;
	color:rgb(163,46,46);
	margin-top:1%;
}

.battle-result {
	margin-top:5%;
	padding: 10px 0;
	width: 60%;
	text-align: center;
	border-radius: 5px;
	background-color: #333;
	color: white;
	margin-left:20%;
}

.battle-duration-hr {
	margin-left: 20%;
	width: 20%;
	border-bottom: 5px solid rgb(163,46,46);
	margin-top:0;
}

.battle-category {
	font-size:20px;
	margin-left: 20%;
}
