* {
	margin: 0;
	padding: 0;
}

hr {
	border: 0.1px solid #333;
	width: 70%;
	margin: 0 auto;
	margin-top: 2%;
}

.fullscreen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
  width: 100%;
  height: auto;
}

.authentication-body {
  margin: auto;
  margin-top: 8%;
  text-align: center;
  font-family: Avenir;
}

.authentication-body-description {
  margin-top: 0.4%;
  margin-bottom: 1.5%;
}

.authentication-description {
  color: white;
  font-size: 17px;
  max-width: 26%;
  margin-left: 37%;
}

.authentication-logo {
  width: 20%;
  height: auto;
}

div .authentication-inputs {
	display: block;
	border-radius: 5px;
	padding:3px;
	border: none;
  font-size: 110%;
}

#username-input, #password-input, #confirm-password-input {
	margin: 8px auto;
	text-align: center;
	opacity: 0.6;
	width: 25%;
  padding: 10px;
  outline: 0;
}

.authentication-ul {
  margin-top: 2%;
  list-style: none;
}

.authentication-ul li:first-child {
	margin-right:2px;
}

.authentication-ul li:last-child {
	margin-left:2px;
}

.authentication-ul li {
	display: inline-block;
  background-color: rgba(163,46,46,0.6);
	border-radius: 5px;
  padding: 0.6% 3%;
}

ul li .authentication-buttons {
  color: white;
}

.authentication-ul li:hover {
	cursor: pointer;
	background-color: rgb(163,46,46);
  text-decoration: none;
  color:white;
}

ul li .authentication-buttons:hover{
	color: white;
  cursor: pointer;
	background-color: rgb(163,46,46);
  text-decoration: none;
}

.navbar-header, .navbar-collapse {
	display:inline-block;
}


.navbar-brand-img {
	width: 120px;
	margin-top:-8px;
}

.main-title {
  font-family: Helvetica;
  text-align: center;
	margin-top: 4%;
	font-weight: 100;
	color: #333; font-size: 48px; font-family: 'Signika', sans-serif; padding-bottom: 10px;
}

.main-submit-text {
  font-family: Helvetica;
  font-size: 25px;
}

.submit-meme {
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
}

.main-inputs {
  margin-top: 0.6%;
  border: 1px solid #333;
  outline: 0;
}

#use-url {
	color: white;
	outline: 0;
	border: 1px solid #333;
	background-color: #333;
	border-radius: 5px;
	padding: 6px 12px;
}

#use-template {
	color: black;
	padding: 6px 12px;
	outline: 0;
	border: 1px solid #333;
	background-color: transparent;
	border-radius: 5px;
}

.main-select {
	margin-top: 0.47%;
	display: block;
  height: 35.1px;
  outline: 0;
  background-color: #333;
  color: white;
  margin-bottom: 0.1%;
	border-radius: 5px;
}

.meme-submit {
  border: 1px solid rgb(163,46,46);
  background-color: rgb(163,46,46);
  color: white;
  margin-top: 2%;
}

.meme-preview {
  border: 1px solid rgb(163,46,46);
  background-color: transparent;
  color: rgb(163,46,46);
  margin-top: 2%;
}

.preview-meme {
  height: 100px;
}

.choice {
	padding: 5px 10px;
	border-radius:5px;
	background-color: transparent;
	border: 1px solid black;
	color:#333;
}

.meme-generator {
	text-align: center;
}

.main-meme-image {
	max-width: 100%;
	border-radius: 5px;
	height: auto;
}

.meme-username {
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 20px;
	text-align: center;
}

.meme-username-link {
	text-decoration: none;
	color: #333;
}

.meme-username-link:hover {
	color: rgba(163,46,46,0.6);
	text-decoration: none;
}
